@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .container {
        @apply px-3.5;
    }

    .logo {
        @apply text-white cursor-pointer font-extralight text-40 leading-12;
    }

    .hero-nav-menu-link-el, .footer-mid-menu-left-link-el, .footer-mid-menu-right-link-el {
        @apply text-lg font-normal leading-8 transition-all lg:font-light lg:text-white hover:text-slate-500 text-2c4664;
    }

    .hero-nav-btn-burger-line {
        @apply w-3 h-0.5 bg-white;
    }

    .hero-content-social-link, .footer-copyright-social-link {
        @apply w-12 h-12 border border-solid border-white border-opacity-29.51 rounded-full cursor-pointer flex items-center justify-center hover:border-opacity-100 hover:bg-white transition-all;
    }

    .book-heading, .book-day {
        @apply font-normal text-sm leading-6 text-white opacity-49.56;
    }

    .book-date-number, .book-number {
        @apply text-white font-extralight text-56 leading-16;
    }

    .book-plus-minus {
        @apply text-2xl font-light text-white cursor-pointer;
    }

    .section-heading {
        @apply font-extralight sm:text-56 sm:leading-16 text-333333 text-40 leading-12;
    }

    .section-text {
        @apply font-light text-lg leading-8 text-333333 opacity-50.16;
    }

    .section-btn {
        @apply pt-3.25 pb-2.75 rounded-3xl font-normal text-base tracking-1 text-333333 inline-block border border-solid border-333333 border-opacity-32 hover:bg-2c4664 hover:border-2c4664 hover:text-white transition-all hover:border-opacity-100;
    }

    .restaurantsbars-card-locations-point {
        @apply absolute transition-all cursor-pointer hover:translate-y-1;
    }

    .advantages-container-card {
        @apply pt-8 px-8 pb-8.5 rounded-30 shadow-card-shadow bg-white;
    }

    .advantages-container-card-img {
        @apply border border-solid border-d8d8d8 w-max rounded-15;
    }

    .advantages-container-card-heading {
        @apply text-2xl font-light text-333333;
    }

    .gallery-img {
        @apply overflow-hidden;
    }

    .gallery-img img {
        @apply w-full transition-all cursor-pointer hover:scale-125 opacity-70 hover:opacity-100;
    }

    .footer-mid-menu-left-link, .footer-mid-menu-right-link {
        @apply flex sm:justify-center lg:justify-start;
    }

    .footer-mid-menu-left-link-el, .footer-mid-menu-right-link-el {
        @apply text-white;
    }
}

#hero-nav-menu.active {
    display: flex;
}

#hero-nav-btn-burger:hover .hero-nav-btn-burger-line {
    background-color: #64748b;
}

.hero-content-social-link:hover svg, .footer-copyright-social-link:hover svg {
    fill: #2c4664;
}